#backend
*.log
*.pyc
/backend/HouseholdProject/AccountBookapp/__pycache__/
/backend/HouseholdProject/AccountBookapp/db-volumes/
.DS_Store
#frontend
**/*.backup.*
**/*.back.*
/frontend/node_modules/
bower_components